# Ignorar carpetas de datos
resultados/
audios_originales/
audios_chunks/
audios_aumentados/
audios_diarizados/
audios_chunks_diarizados/
audios_aumentados_diarizados/
modelos_entrenados/
datos_entrenamiento/
datos_entrada.csv
*.pkl
*.m4a
.virtual_documents/
CLAUDE.md
workflow_diarizacion.md
lista_instalaciones_env_audio.txt
__pycache__ 