# Ignorar carpetas de datos
resultados/
audios_originales/
audios_chunks/
audios_aumentados/
audios_diarizados/
audios_chunks_diarizados/
audios_aumentados_diarizados/
modelos_entrenados/
datos_entrenamiento/
datos_entrada.csv
*.pkl
*.m4a
.virtual_documents/
__pycache__ 
.ipynb_checkpoints
superfluo